.App
{
    text-align: center;
}

.App-header 
{
    background-color: #036ffc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}

p 
{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

button
{
    background-color: #fff !important;
    color: #009933 !important;
    border-style: solid;
    border-color: #009933 !important;
    margin-left: 35% !important;
}

button:hover
{
    background-color: #009933 !important;
    color: #fff !important;
    border-style: solid;
    border-color: #fff !important;
}

img
{
    width: 20%;
    height: 10%;
}

